# Klipper
*.bak
*.backup
printer-*.cfg
backup_*.cfg
klippy.log
moonraker.log

# Windows Zone.Identifier files
*:Zone.Identifier

# Orca Slicer temp files
*.3mf.bak
*.gcode

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets (mai committare!)
*.secret
*credentials*
